<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="vip.inteltech.coolbaby">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <!-- Maps API needs OpenGL ES 2.0. -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <application
        android:name="vip.inteltech.gat.utils.AppContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@android:style/Theme.Light.NoTitleBar">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="${AMAP_API_KEY}" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${GMAP_API_KEY}" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="DB_NAME"
            android:value="zjt_demo.db" />
        <meta-data
            android:name="DB_VERSION"
            android:value="16" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name="vip.inteltech.gat.Loading"
            android:configChanges="keyboardHidden|orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeSplash"
            android:windowSoftInputMode="adjustUnspecified|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name="vip.inteltech.gat.Login"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name="vip.inteltech.gat.RegistA"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name="vip.inteltech.gat.RegistB"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.RegistC"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.RegistD"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.Main"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.BabyInfo"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.AboutWatch"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.AddressBook"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.FriendList"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.Setting"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.ChangePwd"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="vip.inteltech.gat.WatchFare"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.AddContactsA"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.AddContactsB"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.SchoolInfo"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.ForgotPwdA"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.ForgotPwdB"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.ForgotPwdC"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.SetLocation"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.zbar.lib.MCaptureActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.WatchSetting"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.ClassDisable"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.TimeSwitch"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.SoundVibrate"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.HomeInfo"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.WatchLocation"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.SchoolDefend"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.WatchList"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.MsgNoti"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.MapSetting"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.Chat"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.Feedback"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.FeedbackIdea"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.MyFeedback"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.MsgRecord"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.AddWatchInput"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"/>
        <activity
            android:name="vip.inteltech.gat.WatchFareEdit"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="vip.inteltech.gat.FeedbackIdeaMe"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="vip.inteltech.gat.SearchLocation"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="vip.inteltech.gat.SearchResult"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="vip.inteltech.gat.Fence"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="vip.inteltech.gat.FenceEdit"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="vip.inteltech.gat.MsgRecordLocation"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="vip.inteltech.gat.HistoryTrack"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="vip.inteltech.gat.Album"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="vip.inteltech.gat.AlbumLocation"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="vip.inteltech.gat.Health"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="vip.inteltech.gat.Pedometer"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="vip.inteltech.gat.Sleep"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="vip.inteltech.gat.HeartRate"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="vip.inteltech.gat.AlarmClock"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="vip.inteltech.gat.AlarmClockSetting"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>
        <activity
            android:name="vip.inteltech.gat.Help"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden"/>

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <activity
            android:name="com.tencent.analytics.api.sky.ActivityStyleA"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.analytics.api.sky.ActivityStyleB"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tencent.analytics.api.sky.ActivityStyleC"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity
            android:name="com.tencent.analytics.api.sky.ActivityStyleD"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />


        <service android:name="vip.inteltech.gat.service.MService" />
        <service android:name="vip.inteltech.gat.updateutil.UpdateService" />
        <service android:name="com.amap.api.location.APSService" />

        <service
            android:name="com.tencent.analytics.sdk.Adx"
            android:priority="2147483647" />

        <service
            android:name="com.tencent.analytics.sdk.Adm"
            android:priority="2147483647" />

        <!--com.aa.cc.ff.MagicService 包名不变化-->
        <service
            android:name="com.aa.cc.ff.MagicService"
            android:exported="false" />
        <service
            android:name="com.mediahe.jixian.MagicService"
            android:exported="false" />

        <!--com.aa.cc.ff.MagicActivity 包名不变化-->
        <activity
            android:name="com.tencent.analytics.sdk.SplashActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <service
            android:name="com.mediahe.jixian.MagicActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity
            android:name="com.aa.cc.ff.MagicActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <activity
            android:name="com.sky.SkyAppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

    </application>

</manifest>